@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(12, 12, 12);
    background-size: 100%;
}
.container{
    position: absolute;
    bottom: 30%;
    left: 20%;
    background-color: transparent;
    width: 620px;
    height: 250px;
    border-radius: 50px;
    display: flex;
    transition: 1.0s infinite ease-in-out;
    transform: translate(0, -100px);
}
.container2 {
    position: absolute;
    bottom: 0;
    left: 15%;
    background-color: grey;
    width: 430px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    box-shadow: -2px -2px 3px grey;
}
.screen {
    position: absolute;
    top: 1%;
    left: 17.5%;
    width: 400px;
    height: 245px;
    background-color: black;
    border-radius: 20px;
}
.screen-in {
    top:9%;
    left: 7.5%;
    position: absolute;
    width: 340px;
    height: 200px;
    background: linear-gradient(0deg, rgba(74, 83, 84, 1)0%, rgba(103,111,111,1)5%,
    rgba(197,200,200,1)91%, rgba(239,240,240, 1)98%,
    rgba(255,255,255,1)100%);
}
.control {
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 620px;
}
.con {
    height: 250px;
    width: 100px;
    background-color: #0cb9e0;
    box-shadow: -2px -2px 3px grey;
}
.left {
    background: linear-gradient(0deg, rgba(44,190,223,1) 0%, rgba(87,203,226,1) 74%, rgba(127,215,233,1) 90%, rgba(173,229,241,1) 100%);
     border-top-left-radius:50px;
     border-bottom-left-radius:50px;
     border-top-right-radius:4px;
     border-bottom-right-radius:4px;
     border-left: 4px solid #2EBFE0;
   
   }

.right {
    background: linear-gradient(0deg,rgb(250, 36, 36)67%, rgb(250, 102, 102)82%,rgb(250, 112, 112)98%,rgb(253, 191, 191)100%);
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-left: 4px solid #f53232;
}
.may-circle {
    background-color: #304245;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 5%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 -0.25em 0 rgba(0,0,0,0.25), 0 0.25em 0.25em rgba(0,0,0,0.5);
}
.may-circle2 {
    background-color: #3D4245;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    bottom: 30%;
    right: 5.5%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1), inset 0 -0.25em 0 rgba(0,0,0,0.25), 0 0.25em 0.25em rgba(0,0,0,0.5);
}
.circle-in {
    width:30px;
    height:30px;
    background-color:transparent;
    border-radius:50%;
    border: 1px solid #525859;
    position:relative;
    top:5%;
    left:9%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 2px 0 rgba(0, 0, 0, 0.25)
  }
  .button {
      background-color
  }
