* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-item {
    height: 100vh;
}
.img-box {
    width: 550px;
}
.pic-one {
    width: 100%;
}
.slide-one {
    background: rgb(255, 170, 217);
}