@media (max-width:767px ) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .container {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-width: 270px;
    }
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-width: 350px;
    }
}