* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    background: white;
}
nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 nav ul {
font-size: 1.5rem;
flex: 1;
}
nav h1 {
    font-family: vibro,sans-serif;
font-weight: 400;
font-style: normal;
 font-size: 2.5rem; 
 flex: 1;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: #000;
    text-decoration: none;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2 {
    font-size: 5rem;
    color: #fff;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2); 
}
.home {
    background: linear-gradient(to right top, #f46b45, #eea849);
}
.project {
    background: linear-gradient(to right top, #005c97, #363795);
}
.contact {
    background: linear-gradient(to right top, #e53935, #e35d5b);
}
.bubble{
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #f46b45, #eea849);
    transform: scale(2);
}