* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://rsms.me/inter/inter-ui.css');

::selection {
    background: #2D2F36;
  }
  ::-webkit-selection {
    background: #2D2F36;
  }
  ::-moz-selection {
    background: #2D2F36;
  }

  body {
    background: white;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }

  .page {
    background: #e7e7eb;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
  }
 .container {
      display: flex;
      height: 320px;
      margin: 0 auto;
      width: 640px;
  }
  .left {
      background: white;
      height: calc(100% - 40px);
      top: 20px;
      position: relative;
      width: 50%;
  }
  .login {
    font-family: arpona,serif;
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    margin: 50px 40px 40px;
  }
  .eula {
      color: #999;
      font-size: 14px;
      line-height: 1.5;
      margin: 40px;
  }
.right{
background: #474A59;
box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
color: #F1F1F2;
position: relative;
width: 50%;
}

 svg {
     position: absolute;
     width: 320px;
 }
 path {
     fill: none;
     stroke: url(#linearGradient);
     stroke-width: 4;
     stroke-dasharray: 240 1386;
 }

 .form {
     margin: 40px;
     position: absolute;
     cursor: pointer;
 }
 label {
     color: #c2c2c5;
     display: block;
     font-size: 14px;
     height: 16px;
     margin-top: 20px;
     margin-bottom: 5px;
 }
 input {
     background: transparent;
     border: 0;
     color: #f2f2f2;
     font-size: 20px;
     height: 30px;
     line-height: 30px;
     outline: none ;
     width: 100%;
 }
 input::-moz-focus-inner {
    border: 0;
 }
 #submit {
     color: #707070;
     margin-top: 40px;
     transition: color 300ms;
     cursor: pointer;
 }
 #submit:focus {
     color: #f2f2f2;
 }
 #submit:active{
     color: #d0d0d2;
 }