* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: bebas-neue-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    text-align: center;
    background: #000;
}
.container{
    height: 470px;
    width: 350px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
}
.container .wrapper img {
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
}
.wrapper .title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}
.wrapper .place {
color: #fff;
font-size: 20px;
font-weight: 400;
padding: 10 0px;
}
.content {
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    padding: 1px 20px 10px 20px;
    margin-bottom: 10px;
}
.content .buttons {
    display: flex;
}
.buttons .btn {
    height: 40px;
    width: 150px;
    margin: 0 5px;
}
.buttons .btn button {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    background: #fff;
    transition: all 0.3s;
}
.btn button:hover {
    transform: scale(1.2);
    background-color: #440479;
    color: #fff;
}
.container .icons {
    position: relative;
    margin-top: -400px;
    list-style: none;
    margin-left: 10px;
}
.container .icons li {
    height: 40px;
    width: 40px;
    margin: 10px 0;
    
}
.container .icons li a {
    height: 100%;
    width: 100%;
    display: block;
    line-height: 50px;
    background: #fff;
    line-height: 40px;
    border-radius: 50%;
}