* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: none;
    font-family: bilo,sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;
}
a {
    text-decoration: none;
    color: black;
}
a.logo{
    font-weight: bold;
    text-transform: uppercase;
    font-family: alfarn, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}
li a {
    padding: 1em;
    font-size: 20px;
    font-weight: 600;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
}
section {
    padding: 3em;
}
h1,
h2,
.read-btn {
    text-transform: uppercase;
    margin-top: 10px;
}
h1 {
    font-family: alfarn, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}
h2 {
    font-size: 1.4rem;
}
.read-btn {
    text-transform: none;
    color: black;
    font-weight: bold;
     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/arrow.svg');
     background-repeat: no-repeat;
     background-size: 8px;
     background-position: 0 1px;
     padding-left: 1em;
}
.primary {
    padding: 1.5em 1.5em 1.5em calc(3em + 25px);
    background-position: 3em;
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 3em;
   /*  margin-left: -3em; */
    display: inline-block;
}
.clipper {
    overflow: hidden;
}
section.hero {
    padding-top: 8em;
    background-image: url(../images/bee-balogun-KGyzk-EvTwQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
p {
    width: 70%;
    font-size: 1.2rem;
    margin-bottom: 0;
}
h1 {
    font-size: 2.4rem;
}

/* sideBar */
section.sidebar, section .subscribe {
    font-size: .9rem;
    line-height: 1.6rem;
}
section.sidebar{
    background-color: #FFEC8B; 
}
.sidebar.read-btn {
    margin-top:2em;
    display: block;
    background-position: 0 .3rem;
}

/* subscribe */


    input {
        width: 100%;
        padding: 1em;
        font-family: 'Montserrat';
        margin-bottom: 1em;
    }



