* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$primary-color: #FFEC8B;
$submit-btn-bg-color: black;
$submit-btn-color: white;

body {
    height: 100%;
    display: none;
    font-family: bilo,sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;
}
a {
    text-decoration: none;
    color: black;
}
a.logo{
    font-weight: bold;
    text-transform: uppercase;
    font-family: alfarn, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}
li a {
    padding: 1em;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
}
section {
    padding: 3em;
}
h1,
h2,
.read-btn {
    text-transform: uppercase;
    margin-top: 10px;
}
h1 {
    font-family: alfarn, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}
h2 {
    font-size: 1.4rem;
}
.read-btn {
    text-transform: none;
    color: black;
    font-weight: bold;
     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/arrow.svg');
     background-repeat: no-repeat;
     background-size: 8px;
     background-position: 0 1px;
     padding-left: 1em;
}