* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:#3a4052;
    --secondary-color:#444;
   --overlay-color: rgba(0,0,0,0.7);
}
body {
    font-family: bebas-neue-pro,sans-serif;
font-weight: 400;
font-style: normal;
}
header {
    position: sticky;
    top: 0;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
    z-index: 2;
}
nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
nav h1 {
    font-family: vibro,sans-serif;
    font-weight: 400;
    font-style: normal;
     font-size: 2.5rem; 
     flex: 1;
}
nav ul {
    font-size: 1.5rem;
    flex:1;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: #000;
    text-decoration: none;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2 {
    font-size: 5rem;
    color: #fff;

}

.home {
    background: linear-gradient(to right top, #0e0300, #310101); 
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: #fff;
   padding: 0 20px;
}
.content {
    z-index: 2;
}
 .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../images/Love\ -\ 32021.mp4) var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.video-container::after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.about{
    background: linear-gradient(to right top, #140101, #0e0000);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.about > div {
    height: 210px;
    cursor: pointer;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
}
.about > div:hover {
    opacity: 0.5;
    transform: scale(0.90);
}
.about > div:nth-of-type(1){
    grid-column: 1 / 3;
}
.about > div:nth-of-type(6){
    grid-column:  3 / 5;
}
.about > div:nth-of-type(9) {
    grid-column: 3 / 5;
}
.about > div:nth-of-type(10){
    grid-column: 1 / 3;
}
.about > div:nth-of-type(11){
    grid-column: 3 / 5;
}
.bg1 {
    background-image: url(../images/Stroom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg2 {
    background-image: url(../images/space.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3{
    background-image: url(../images/aud1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg4 {
    background-image: url(../images/shoes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg5{
    background-image: url(../images/annie-spratt-jFtBa6aEJqk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg6 {
    background-image: url(../images/water.png);
    background-size: cover;
   /*  background-position: center; */
    background-repeat: no-repeat;
}
.bg7{
background-image: url(../images/aud3.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.bg8 {
    background-image: url(../images/aud4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg9 {
    background-image: url(../images/play.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg10 {
    background-image: url(../images/aud2.jpg);
   /*  background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.bg11 {
    background-image: url(../images/pexels-photo-2599244.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* images */
.portfolio {
   /*  background: linear-gradient(to right top, #00973f, #953675); */
    position: relative;
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:var(--overlay-color) ;
}
.portfolio-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 800px;
    padding: 5rem 0;
}
.portfolio-inner h2 {
font-size: 5rem;
margin-top: 1rem;
}
.portfolio-inner p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.project {
    background: linear-gradient(to right top, #037cc7, #050763);
}
.contact {
    background: linear-gradient(to right top, #e5cb35, #220101);
}

.bubble {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #e53935, #e35d5b);
    transform: scale(2);
}