/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Colores ===*/
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: var(--body-font);
}
h1,
h2,
h3,
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* LAYOUT */
.bd-grid {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.l-header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-modal);
}
/* NAV */
.nav {
    height: 3rem;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.nav__logo{
    color: var(--white-color);
}
.nav__item{
    margin-bottom: 2rem;
}
.nav__link{
    color: var(--white-color);
}
.nav__toggle {
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}
.show {
    top: 3rem;
}

/* HOME */

.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}