@media screen and (min-width: 768px) {
    :root {
      --biggest-font-size: 7rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
    }
    .nav__menu {
        position: fixed;
        left: 0%;
        top: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        padding: 2rem;
        text-align: center;
        z-index: var(--z-fixed);
        transition: 3s;
    }
  }