@media screen and (max-width: 968px) {
    .nav__menu{
        position: fixed;
        left: -100%;
        top: 3rem;
        background-color: var(--white-color);
        width: 80%;
        height: 100%;
        padding: 2rem;
        z-index: var(--z-fixed);
        -webkit-transition: .3s;
        transition: .3s;
    }
}