@media screen and (max-width: 968px) {
    .nav__menu{
        position: fixed;
        left: -100%;
        top: 3rem;
        background-color: var(--white-color);
        width: 80%;
        height: 100%;
        padding: 2rem;
        z-index: var(--z-fixed);
        -webkit-transition: .3s;
        transition: .3s;
    }
}
  /*===== MEDIA QUERIS =====*/
  @media screen and (min-width: 968px) {
    body {
      margin: 0;
    }
    .nav {
      height: 4rem;
    }
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .nav__item {
      margin-right: 3rem;
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .home {
      height: 100vh;
      -ms-grid-columns: max-content max-content;
          grid-template-columns: -webkit-max-content -webkit-max-content;
          grid-template-columns: max-content max-content;
      -ms-grid-rows: max-content;
          grid-template-rows: -webkit-max-content;
          grid-template-rows: max-content;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-column-gap: 6rem;
              column-gap: 6rem;
    }
    .sneaker__figure {
      width: 430px;
      height: 430px;
    }
    .sneaker__img {
      width: 550px;
      top: 13%;
      left: -6%;
    }
    .sneaker__colors {
      right: initial;
      bottom: 0;
    }
    .sneaker__colors span {
      display: inline-block;
    }
    .info {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
    }
    .data {
      margin-bottom: 2.5rem;
    }
    .data__subtitle {
      font-size: 1.5rem;
    }
    .data__title {
      margin-bottom: 1rem;
    }
    .size {
      margin-bottom: 2.5rem;
    }
    .size__tallas {
      width: 34px;
      height: 34px;
      line-height: 35px;
    }
    .preci {
      position: initial;
      background-color: initial;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
    .preci__title {
      color: var(--black-color);
      font-weight: 500;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
  }