* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}