.features-container {
    background: #323232;
}
.features {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .cards {
        display: flex;
        justify-content: space-between;
        color: black;
    }
    .card{
      background: #fff;
      margin: 0rem 3rem;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: center;
      h4 {
          margin: 2rem 0rem 1rem 0rem;
      }
      p {
          padding: 2rem;
      }
      img {
         width: 350px;
         height: 250px;
         border-radius: 10px;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         object-fit: cover;
     }
    }
    .wave svg {
        overflow: hidden;
    }
}