.home {
    background:#000;
}
.nav-container {
background: rgb(39, 39, 39);
}
nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    #logo{
      flex: 3;
      position: relative;
      &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 6rem;
          height: 6rem;
          background: #810357;
          border-radius: 50%;
          transform: translate(-10%, -20%);
          mix-blend-mode: screen;
      }
    }

}