
$bg-color:#151728;
$border-color:#272a3a;
$title-font: font-family: temeraire,serif;
font-weight: 900;
font-style: normal;
$body-font: font-family: temeraire,serif;
font-weight: 400;
font-style: normal;
$side-title: #5c5e6e;
$button: #8f98a9;

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }


body {
    font-family:$body-font;
    background-color: #373e57;
    color: #ccc8db;
     }